{{>partial_header}}
package {{packageName}}

{{#operations}}
import (
	"net/http"
	"io"
	"strings"

	"github.com/gin-gonic/gin"
){{#operation}}

// {{nickname}} - {{{summary}}}
{{#isDeprecated}}
// Deprecated
{{/isDeprecated}}
func {{nickname}}(c *gin.Context) {

{{#vendorExtensions.items}}
	{{^requestBody}}
	c.Data({{statusCode}}, "application/json", []byte(`{{{responseBody}}}`))
	{{/requestBody}}
	{{#requestBody}}
	data, _ := io.ReadAll(c.Request.Body)
	input:=string(data)

	expected{{-index}}:=string([]byte(`{{{requestBody}}}`))
	if(strings.EqualFold(strip(input), strip(expected{{-index}}))) {
		c.Data({{statusCode}}, "application/json", []byte(`{{{responseBody}}}`))
	}
	{{/requestBody}}

{{/vendorExtensions.items}}
	// fallback
	c.JSON(http.StatusOK, gin.H{})
{{^vendorExtensions.items}}
	c.JSON(http.StatusOK, gin.H{})
{{/vendorExtensions.items}}
}{{/operation}}{{/operations}}
